.task-item {
    border-bottom: 1px solid var(--border);
}
.item-header {
    text-align: left;
    padding: 0.5rem;
}

.task-date {
    font-size: 0.8rem;
    color: var(--card-paragraph-color);

}

.item-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text);
    display: flex;
}

.item-title h3 {
    margin: 0 0.5rem;
}

.completed {
    text-decoration: line-through;
    color: var(--card-paragraph-color);
    opacity: 0.6;
}

.details-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--accent);
}

.task-actions {
    display: flex;
    gap: 0.5rem;
}

.task-actions button {
    background: none;
    border: none;
    color: var(--accent);
}

.task-actions button:hover {
    color: var(--accent-hover);
}

